.app_container {
    width: 80%;
    margin: 0 auto;
    background: white;
    height: 100%;
}

.title_container {
    display: flex;
    justify-content: center;
    h1 {
        font-size: 3.5rem;
        margin-top: 25px;

    }
}

.mid_section_container {
    display: flex;
    margin-top: 70px;
}